

{{#if isShowUpload}}
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="well">
        {{#x-file-input multiple=true action=(action (mut files)) accept="image/gif,image/jpg,image/png"}}
          <button class="btn btn-primary">⇧ Upload Cover Image</button>
        {{/x-file-input}}

        {{#if edit.coverImage}}
          <button class="btn btn-danger" {{action "deleteCoverImage" edit.coverImage}}>Delete</button>
          <a class="btn btn-link" {{action "cancelUpload"}}>Cancel</a>
        {{/if}}

        {{#each files as |file|}}
          <div class="media">
              <div class="media-left">
                {{#x-object-url blob=file as |url|}}
                  <div style="background-image: url({{url}})" class="media-object image-preview" alt="file preview"></div>
                {{/x-object-url}}
              </div>
              <div class="media-body">
                {{file-upload file=file}}
              </div>
          </div>
        {{/each}}
        {{#if files}}
          <button class="btn btn-default" {{action "upload"}}>Upload</button>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="row" {{action "showUpload"}}>
    <div class="col-lg-12">
      <img src={{edit.coverImage.getSrc}} class="img-responsive">
    </div>
  </div>
{{/if}}

{{#if title}}
  <h1 id="title">{{title}}</h1>
{{/if}}
{{#if description}}
  <p>{{description}}</p>
{{/if}}

{{#if errorMessage}}
  <div class="alert alert-danger">
    {{errorMessage}}
  </div>
{{/if}}
<form class="form-horizontal" {{action "save" on="submit"}}>

{{!--
  <div class="form-group">
    <label for="image" class="col-lg-2 control-label">Cover</label>
    <div class="col-lg-10">
      {{#x-file-input multiple=true action=(action (mut files)) accept="image/gif,image/jpg,image/png"}}
        <button class="btn btn-primary">⇧ Choose Files</button>
      {{/x-file-input}}

      {{#each files as |file|}}
        <div class="media">
          {{#x-object-url blob=file as |url|}}
            <div class="media-left">
                <div style="background-image: url({{url}})" class="media-object image-preview" alt="file preview"></div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{file.name}}</h4>
              <p>Type: {{file.type}}, size: {{file.size}}</p>
            </div>
          {{/x-object-url}}
        </div>
      {{/each}}
      {{#if files}}
        <button class="btn btn-default" {{action "upload"}}>Upload</button>
      {{/if}}
    </div>
  </div>
--}}

  <div class="form-group">
    <label for="input-creation-date" class="col-lg-2 control-label">Date</label>
    <div class="col-lg-4">
      {{bs-datetimepicker
          date=edit.creationDate
          updateDate=(action (mut edit.creationDate))
          forceDateOutput=true
          noIcon=true
          id="input-creation-date"
          placeholder="Date"}}
    </div>
  </div>
  <div class="form-group">
    <label for="input-title" class="col-lg-2 control-label">Title</label>
    <div class="col-lg-10">
      {{input
        value=edit.title
        placeholder=""
        class="form-control"
        id="input-title"
        placeholder="(Optional) Enter a short summary"
      }}
    </div>
  </div>
  <div class="form-group">
    <label for="input-memo" class="col-lg-2 control-label">Memo</label>
    <div class="col-lg-10">
      {{textarea
        value=edit.memo
        placeholder="Write down things that made you smile, your thoughts, ideas, inspirations."
        rows="7"
        class="form-control"
        id="input-memo"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=edit.public}} Public
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      {{#if model}}
        <button type="submit" class="btn btn-success">Save</button>
      {{else}}
        <button type="submit" class="btn btn-success">Create</button>
      {{/if}}
      {{#if model}}
        <button class="btn btn-danger" {{action "delete"}}>Delete</button>
      {{/if}}
      <a class="btn btn-link" {{action "cancel"}}>Cancel</a>
    </div>
  </div>
</form>
