<div class="row">
  {{#if editEntry.coverImage}}
  <div class="col-lg-12 text-center">
    <img src={{editEntry.coverImage.getSrc}} class="img-responsive">
  </div>
  {{/if}}
  {{#if editUserEntry.isAuthor}}
    <div class="col-xs-12 text-center">
      <div class="well">
        {{#unless files}}
          {{#x-file-input multiple=true action=(action (mut files)) accept="image/gif,image/jpg,image/jpeg,image/png"}}
            <button class="btn btn-primary">⇧ Upload Cover Image</button>
          {{/x-file-input}}
          {{#if editEntry.coverImage}}
            <button class="btn btn-danger" {{action "doDeleteCoverImage"}}>Remove Cover Image</button>
          {{/if}}
        {{else}}
          {{#each files as |file|}}
            <div class="media">
                <div class="media-left">
                  {{#x-object-url blob=file as |url|}}
                    <div style="background-image: url({{url}})" class="media-object image-preview" alt="file preview"></div>
                  {{/x-object-url}}
                </div>
                <div class="media-body">
                  {{file-upload file=file onSuccess=(action "setCoverImage")}}
                </div>
            </div>
          {{/each}}
          <a class="btn btn-link" {{action "doCancelUpload"}}>Cancel Image Upload</a>
        {{/unless}}
      </div>
    </div>
  {{/if}}
</div>

{{#if title}}
  <h1 id="title">{{title}}</h1>
{{/if}}
{{#if description}}
  <p>{{description}}</p>
{{/if}}

{{#if errorMessage}}
  <div class="alert alert-danger">
    {{errorMessage}}
  </div>
{{/if}}
<form class="form-horizontal" {{action "doSave" on="submit"}}>
  <div class="form-group">
    <label for="input-creation-date" class="col-lg-2 control-label">Date</label>
    <div class="col-lg-4">
      {{#if editUserEntry.isAuthor}}
        {{bs-datetimepicker
            date=editEntry.creationDate
            updateDate=(action (mut editEntry.creationDate))
            forceDateOutput=true
            noIcon=true
            id="input-creation-date"
            placeholder="Date"}}
      {{else}}
        {{moment-format editEntry.creationDate}}
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label for="input-title" class="col-lg-2 control-label">Title</label>
    <div class="col-lg-10">
      {{#if editUserEntry.isAuthor}}
        {{input
          value=editEntry.title
          placeholder=""
          class="form-control"
          id="input-title"
          placeholder="(Optional) Enter a short summary"
        }}
      {{else}}
        {{editEntry.title}}
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label for="input-memo" class="col-lg-2 control-label">Memo</label>
    <div class="col-lg-10">
      {{#if editUserEntry.isAuthor}}
        {{textarea
          value=editEntry.memo
          placeholder="Write down things that made you smile, your thoughts, ideas, inspirations."
          rows="7"
          class="form-control"
          id="input-memo"}}
        {{else}}
          {{editEntry.memo}}
        {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label for="input-location" class="col-lg-2 control-label">Location</label>
    <div class="col-lg-10">
      {{#if editUserEntry.isAuthor}}
        {{input
          value=editEntry.location
          placeholder=""
          class="form-control"
          id="input-location"
          placeholder="Where about is this happening"
        }}
      {{else}}
        {{editEntry.location}}
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label for="input-tags" class="col-lg-2 control-label">Tags</label>
    <div class="col-lg-10">
      {{input
        value=editUserEntry.tags
        placeholder=""
        class="form-control"
        id="input-tags"
        placeholder="Add tags"
      }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          {{#if editUserEntry.isAuthor}}
            {{input type="checkbox" checked=editEntry.public}} Public
          {{else}}
            {{#if editEntry.public}}public{{else}}private{{/if}}
          {{/if}}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      {{#if model}}
        {{#if editUserEntry.isAuthor}}
        <button type="submit" class="btn btn-success">Save</button>
        {{else}}
          {{#if isOpen}}
            <button class="btn btn-primary" {{action "doApprove"}}>Accept</button>
            <button class="btn btn-danger" {{action "doReject"}}>Reject</button>
          {{else}}
            <button type="submit" class="btn btn-success">Save</button>
          {{/if}}
        {{/if}}
      {{else}}
        <button type="submit" class="btn btn-success">Create</button>
      {{/if}}
      <a class="btn btn-link" {{action "cancel"}}>Cancel</a>
    </div>
  </div>
</form>
