{{#if title}}
  <h3>{{title}}</h3>
{{/if}}
<div class="list-group">
  {{#if list.isFulfilled}}
    {{#each list as |entry|}}
      {{#link-to 'journal.show' entry class="list-group-item"}}
        <h4 class="list-group-item-heading">
          <span class="label label-success">{{moment-calendar entry.entry.creationDate}}</span> {{entry.entry.title}}</h4>
        <p class="list-group-item-text">{{entry.entry.memo}}</p>
      {{/link-to}}
    {{else}}
      <a href="#" class="list-group-item">
        <p>Nothing found</p>
      </a>
    {{/each}}
  {{else}}
    <a href="#" class="list-group-item" name="loading-state">Loading</a>
  {{/if}}
</div>
