<h1 class="text-center">Öffentliche Journale</h1>

{{#each model as |entry|}}

<h2>{{entry.name}}</h2>
<p>{{entry.content}}</p>
<p><strong>Journals:</strong>
  {{#each entry.journalEntries as |journalEntry|}}
  {{#with journalEntry.journal as |journal|}}
    {{journal.name}}!
  {{/with}}
    {{journalEntry.journal.name}} (Status: {{journalEntry.status}})

    {{#each entry.users as |user|}}
      {{#link-to 'users.show' user}}{{user.name}}{{/link-to}} |
    {{/each}}
  {{else}}
  -
  {{/each}}
</p>
{{/each}}
